
*{

    margin: 0;
    
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    
    
    
    body{
    
       background-color: black;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    h1{
    text-align: center;
    color: white;
    
    }

h2{
text-align: center;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}
h5{

text-align: right;
color: white;
margin: 9px;
}

#figuresponsor{

    width: 80px;
    height: auto;
    margin-left: 5px;
    float: left;
    display: inline-block;
    border: 9px solid white;
    -webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;

}
h3{
    color: white;
    text-align: left;
    margin: 1rem 4rem ;
    
    }


#figureti{

    width: 300px;
    margin: auto;
    display: block;
    border: 4px solid rgb(41, 9, 9);
    -webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s; 





}

    
    
    
    #figure{
        
        width: 200px;
        margin: auto;
        display: block;
        border: 4px solid white;
        -webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;  
    
    }

#figure2{

    width: 376px;
    height: auto;
    margin-left: 5px;
    float: left;
    display: inline-block;
    border: 9px solid white;
    -webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;

}




    
    
    figure img:hover{
        -webkit-transform:scale(1.3) ;
        
        
        }  
    
    a{
    color: white;
    
    
    }


p{

    margin: 2rem auto;
    text-align: center;
    display: table;
    height: 180px;
    width: 300px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.container .btn-menu .logo{
    
    float: left;
    line-height: 70px;
    
    }
    
    .container .btn-menu label{
    
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    }
    
    #btn-menu{
    
        display: none;
    }
    .container-menu{
    
        position: absolute;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 200vh;
        top:0 ;
        left: 0;
        transition: all 500ms ease;
        opacity: 1;
        visibility: visible;
        
        }
    
        #btn-menu:checked ~.container-menu{
    
            opacity: 0;
            visibility: hidden;
            
            }
            .cont-menu{
                width: 100%;
                max-width: 250px;
                background:#1c1c1c ;
                height: 140vh;
                position:relative ;
                transition: all 500ms ease;
                transform: translateX(0%);
                opacity: 3;
                
                }
                    
                #btn-menu:checked ~.container-menu .cont-menu{
                    transform: translateY(-100%);
                    
                    }
    
                    .cont-menu nav{
    
                        transform: translateY(15%);
                    }
                    
                    .cont-menu nav a{
    
                        display: block;
                        text-decoration: none;
                        padding: 25px;
                        color: white;
                        border-left: 5px solid transparent;
                        transition: all 400ms ease;
                        
                        }
    
                        .cont-menu nav a:hover{
                            border-left: 5px solid #c7c7c7;
                        background: #1f1f1f;
                        
                        
                        }
    
                        .cont-menu label{
    
                            position: absolute;
                            right: 5px;
                            top: 10px;
                            color: white;
                            cursor: pointer;
                            font-size: 18px;
                            
                            }
                            
    



