
*{

    margin: 0;
    
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    
    
    
    body{
    
       background-color: black;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    h1{
        text-align: center;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    
        #h1{
    
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
        }

        h2{
            text-align: center;
            width: auto;
            color: #fff;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
            
            
            }
            
            h3{
            color: white;
            text-align: left;
            margin: 2rem ;
            
            }

            
            h4{
                margin: 0;
            text-align:   right;
            color: white;
            
            font-family: cursive;
            
            }

          h5{
            text-align: right;
            color: white;
            margin: 7px;

          }


            p{
                margin: 2rem auto;
                text-align: center;
                display: table;
                height: 180px;
                width: 300px;
                color: #fff;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                
                }
            
            #p{
            text-align: left;
            margin-left: 70px;
                color: #fff;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
            
            }


             
    #figure{
        width: 200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: 3px solid white;
        
        
        -webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;  
    
    }

    #figure2a{

        width: 200px;
        height: auto;
        margin: 2rem auto;
        display: block;;
        border: 9px solid white;
        -webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;
    
    
    }

    figure img:hover{
        -webkit-transform:scale(1.3) ;
        
        
     }  


    
    a{
    color: white;
    
    }

    .container .btn-menu .logo{
    
        float: left;
        line-height: 70px;
        
        }

        .container .btn-menu label{
    
            color: #fff;
            font-size: 25px;
            cursor: pointer;
            }


            #btn-menu{
    
                display: none;
            }
            .container-menu{
            
                position: absolute;
                background: rgba(0,0,0,0.5);
                width: 100%;
                height: 100vh;
                top:0 ;
                left: 0;
                transition: all 500ms ease;
                opacity: 1;
                visibility: visible;
                
                }

                #btn-menu:checked ~.container-menu{
    
                    opacity: 0;
                    visibility: hidden;
                    
                    }

                    .cont-menu{
                        width: 100%;
                        max-width: 250px;
                        background:#1c1c1c ;
                        height: 134vh;
                        position:relative ;
                        transition: all 500ms ease;
                        transform: translateX(0%);
                        opacity: 3;
                        
                        }
                            
                        #btn-menu:checked ~.container-menu .cont-menu{
                            transform: translateY(-100%);
                            
                            }
                            .cont-menu nav{
    
                                transform: translateY(15%);
                            }

                            .cont-menu nav a{
    
                                display: block;
                                text-decoration: none;
                                padding: 25px;
                                color: white;
                                border-left: 5px solid transparent;
                                transition: all 400ms ease;
                                
                                }

                                .cont-menu nav a:hover{
                                    border-left: 5px solid #c7c7c7;
                                background: #1f1f1f;
                                
                                
                                }


                                .cont-menu label{
    
                                    position: absolute;
                                    right: 5px;
                                    top: 10px;
                                    color: white;
                                    cursor: pointer;
                                    font-size: 18px;
                                    
                                    }




            

