
*{

margin: 0;

box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}




body{

   background: black;

}

h1{
text-align: center;
color: white;

}



#figure{
    width: 200px;
    height: auto;
    margin:2rem auto ;

    display: block;
    border: 2px solid white;
    -webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;  

}






#figure2{

    width: 200px;
    height: 9vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 6px solid rgb(41, 3, 3);
    -webkit-transition:-webkit-transform 0.5s ease-in-out 0.10s;



}









figure img:hover{
    -webkit-transform:scale(1.3) ;
    
    
    }  

a{
color: white;


}


.container .btn-menu .logo{

float: left;
line-height: 70px;

}

.container .btn-menu label{

color: #fff;
font-size: 25px;
cursor: pointer;
}

#btn-menu{

    display: none;
}
.container-menu{

    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top:0 ;
    left: 0;
    transition: all 500ms ease;
    opacity: 1;
    visibility: visible;
    
    }

    #btn-menu:checked ~.container-menu{

        opacity: 0;
        visibility: hidden;
        
        }
        .cont-menu{
            width: 100%;
            max-width: 250px;
            background:#1c1c1c ;
            height: 148vh;
            position:relative ;
            transition: all 500ms ease;
            transform: translateX(0%);
            opacity: 3;
            
            }
                
            #btn-menu:checked ~.container-menu .cont-menu{
                transform: translateY(-100%);
                
                }

                .cont-menu nav{

                    transform: translateY(15%);
                }
                
                .cont-menu nav a{
                 text-align: center;
                    display: block;
                    text-decoration: none;
                    padding: 25px;
                    color: white;
                    border-left: 5px solid transparent;
                    transition: all 400ms ease;
                    
                    }

                    .cont-menu nav a:hover{
                        border-left: 5px solid #c7c7c7;
                    background: #1f1f1f;
                    
                    
                    }

                    .cont-menu label{

                        position: absolute;
                        right: 5px;
                        top: 10px;
                        color: white;
                        cursor: pointer;
                        font-size: 18px;
                        
                        }
                        

